<h2 mat-dialog-title>{{accion}} Usuario</h2>
<mat-dialog-content>

  <form [formGroup]="formUsuario" class="dialog-form">

    <mat-form-field appearance="outline">
      <mat-label>Nombre y apellidos</mat-label>
      <input matInput autocomplete="off" formControlName="nombreApellido">
      <mat-icon matSuffix>account_box</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Correo</mat-label>
      <input matInput autocomplete="off" formControlName="correo" type="email">
      <mat-icon matSuffix>mail</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Usuario</mat-label>
      <input matInput autocomplete="off" formControlName="usuario">
      <mat-icon matSuffix>account_box</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Rol</mat-label>
      <mat-select formControlName="idRol">
        @for (item of listaRoles; track item) {
          <mat-option [value]="item.idRol">{{item.descripcion}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Estado</mat-label>
      <mat-select formControlName="esActivo">
        <mat-option [value]="true">Activo</mat-option>
        <mat-option [value]="false">Inactivo</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="clave">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Volver</button>
  <button mat-raised-button
    color="primary"
    [disabled]="formUsuario.invalid"
    (click)="agregarEditarUsuario()">
    {{accionBoton}}
  </button>
</mat-dialog-actions>
