<h2 mat-dialog-title>Precios Proveedor {{nombreProducto}}</h2>
<mat-card style="margin: 1px 1px 1px 1px">

  <mat-card-content class="dashboard-card-content">

    <!-- <form class="example-form" [formGroup]="formGroup" (ngSubmit)="onSubmitForm()">
      <mat-grid-list cols="4" rowHeight="80px">
        <mat-grid-tile [colspan]="2">
          <mat-form-field class="example-full-width" appearance="fill">
          <input type="text" id="codbarras3"
                 placeholder="Lector Codigo de barras..."
                 aria-label="Codigo Barras"
                 formControlName="codbarras"
                 matInput cdkFocusInitial autofocus (keyup.enter)="onEnterCodBarras($event)">
          
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1">
        <mat-form-field appearance="outline">
          <mat-label>Editar</mat-label>
          <input matInput type="number" formControlName="editar">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>

      

        <mat-grid-tile [colspan]="2">

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Producto</mat-label>
            <input type="text"
                   placeholder="Buscar..."
                   aria-label="Number"
                   matInput
                   [matAutocomplete]="auto"
                   formControlName="producto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                              (optionSelected)="productoSeleccionado($event)"
                              [displayWith]="displayProducto">
              <mat-option *ngFor="let option of filteredOptions" [value]="option">
                {{option.nombre}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          

        </mat-grid-tile>

        <mat-grid-tile [colspan]="2">
          <mat-form-field class="example-full-width" appearance="fill" style="margin-left: 40px;">
            <mat-label *ngIf="cobroPor==1">Precio Unidad</mat-label>
            <mat-label *ngIf="cobroPor==2">Precio Kilos</mat-label>
            <input matInput type="number" formControlName="precio">
          </mat-form-field>
        </mat-grid-tile>

        
        <mat-grid-tile [colspan]="2">
            <mat-form-field appearance="outline">
              <mat-label>Estado</mat-label>
              <mat-select formControlName="esActivo">
                <mat-option [value]="true">
                  Activo
                </mat-option>
                <mat-option  [value]="false">
                  Inactivo
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          
  
        <mat-grid-tile [colspan]="2">
          <button mat-raised-button color="primary" style="width: 80%;" [disabled]="formGroup.invalid"><mat-icon>add</mat-icon> Agregar</button>
        </mat-grid-tile>

      </mat-grid-list>
    </form> -->

    

    <div class="mat-elevation-z2">
      <table mat-table [dataSource]="dataSource">

        
         <ng-container matColumnDef="Proveedor">
          <th mat-header-cell *matHeaderCellDef> Proveedor </th>
          <td mat-cell *matCellDef="let element"> {{element.nombreProveedor}} </td>
        </ng-container>

        
        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef> Precio </th>
          <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
        </ng-container> 


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

  </mat-card-content>
  
</mat-card>
<div mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Volver</button>
</div>
